// scss file for component based styles
html,
body {
    margin: 0;
    height: 100vh;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    height:auto;
    width:100%;
    box-sizing: border-box;
    height:0px;
    position:fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;

    .header-item{
        // width: 150px; 
    }

    .logo{
        display:block;
        margin:60px 0 0 60px;
        width:60px;
        height: 300px;
        background:url('../static/img/logo.png') no-repeat;
        background-size: 100%;
        img{
            width:100%;
        }
        opacity:0;
    }

    button.burger-nav-btn{
        background:lightgrey;
        border-radius:50%;
        padding:10px;
        height:60px;
        width:60px;
        border:none;
        float: right;
        margin:60px 60px 0 0;
        overflow: hidden;
        cursor: pointer;

        .material-icons{
            font-size:3em;
            font-weight:700;
            vertical-align: -5px;
            margin:0px 0 10px 0;
            position: relative;
            top: -50px;
        }
        //opacity:0;
    }
}

main{
    flex-grow: 1;
    overflow-x: hidden;
}

canvas{
    position:absolute;
    z-index:49;
    background:transparent;
}

.view-wrapper{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background:white;  

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &.preload{
        background: /*$black-medium;*/ $base-orange;
        z-index: 50;
        overflow: hidden;
        position:fixed;
    }

    &.roomitem{
        width:100%;
        height:auto;
        align-items: flex-start;
    }
}

.rooms-container{

    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    position:absolute;
    left:0px;

    .view-wrapper{

        &.room{
            position:relative;
        }

        &.redirect{
            width:0px;
            height:0px;
        }
        
    }
}

.content{
    width: 100%;
    padding:0px;
}

.room .content{
    
    padding: 0 100px;
    text-align:center;
    vertical-align: middle;
    box-sizing: border-box;

    h1{
        color:white;
        margin-bottom:15px;
    }
    p{
        color:white;
        padding-bottom:20px;
    }
}

.room-item-list{
    display:inline-block;
    transition:all 1s ease;
    position:relative;
}

.roomitem {
    a.gallery_navigate{
        color:black;
    }
    .content{
        text-align:center;
        position: relative;
        z-index:4;
    }
}

.item-slice{
    box-sizing: border-box;
    width: 100%;
    // height:100vh;
    vertical-align:top;
    text-align: left;
    padding:20px 10px;
    display:inline-block;

    img{
        margin:100px 0;
    }

    h1{
        padding:3px;
    }

    p{
        display:inline;
        text-align: left;
        margin-bottom:10px;
        padding:3px;
        color: white;
        font-weight: bold;
    }

    .tpl{
        margin: 20px 10px;
    }

    &.title{

        .tpl{
            float:right;
            margin: 10px 0px 0 0;
            clear:both;
        }

        .tpl-header{
            margin-top:60px;
            opacity:0;
        }

        .tpl-text{
            width:380px;
            opacity:0;
        }

        text-align: right;
        padding:0px 0px;
        height:100vh;

        h1{
            font-style: italic;
            color: white;
            text-align: right;
            display:inline;
        }

        p{
            display:inline;
            color:white;
            text-align:right;
        }
    }
}

.col{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    float: left;

    img, p, h1, h2{
        width:100%;
    }

    &.text{
        padding-top:300px;
    }
}

.col-3-1{
    width:33.333%;
}

.col-3-2{
    width:66.666%;
}

.col-3-3{
    width:100%;
}

.scrollable-element-1{
    width: 100%;
    height: 500px;
    position:absolute;
    left: 0px;
    z-index:2;
    object-fit: cover;
}

.scrollable-element-2{
    width: 30px;
    height: 30px;
    position:absolute;
    bottom: 0px;
    right: 20%;
    z-index:3;
    @include border-radius(50%);
    border: solid 5px white;
    object-fit: cover;
}

.scrollable-element-3{
    width: 20px;
    height: 20px;
    position:absolute;
    bottom: 0px;
    right: 20%;
    z-index:3;
    @include border-radius(50%);
    border: solid 5px white;
    object-fit: cover;
}

.scrollable-element-4{
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0px;
    top: 0px;
    z-index:1;
    object-fit: cover;
}

a:hover .room-item{
    padding:5px;
}

.room-item{
    background: cyan;
    position:relative;
    // display:inline-flex;
    display: inline-block;
    background:transparent;
    padding:30px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    transition:all 0.5s ease;

    .item-container{
        opacity:0;
        width:100%;
        height:100%;
        margin-left: 50px;
        box-sizing: border-box;
        background-size: cover;
        // background-size: 10px 10px;
        background-repeat: no-repeat;
        background-position: left;
        // background-position: center;
        @include border-radius(50%);
        transition:all 1s ease;
    }
}

.room-item-transition{
    @include border-radius(50%);
    background:white;
    width:100px;
    height:100px;
    z-index: 200;
    position:absolute;
    //box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .room-item-list{
        width: 630px;
    }

    .room-item{
        width:150px;
        height:150px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .room-item-list{
        width: 830px;
    }

    .room-item{
        width:200px;
        height:200px;
    }

    .item-slice{
    
        &.title{
            text-align: right;
            width: 100%;
        }
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .room-item-list{
        width: 1020px;
    }

    .room-item{
        width:250px;
        height:250px;
    }

    .item-slice{

        width: 1200px;
        padding:20px 10px;
    
        &.title{
            text-align: right;
            padding:0px 0px;
            width: 100%;
        }
    }

}

#article-1{
    overflow:hidden;
}

// .content{
//     padding:0px;
// }

nav.view-wrapper{

    background:lightgrey;
    z-index: 51;
    border-radius:50%;
    height:60px;
    width:60px;
    right:60px;
    top: 60px;
    overflow: hidden;
    align-items:flex-start;
    position:fixed;

    a:hover{
        text-decoration: none;
        // padding-left: 10px; 
        // transition: padding-left 0.5s linear 0s;
    }
   

    ul{
        text-align: center;
        &.nav-wrapper{
            padding:60px 130px 10px 130px;
        }
        list-style-type: none;
    }

    li.nav-animation{
        transition: opacity 0.8s ease;
        box-sizing: border-box;
        display: none;
        vertical-align: top;
        padding : 15px;
        opacity:0;
        text-align: left;
        max-width:230px;
        &.lev-1 a{
            font-size: 1.6em;
            font-weight: 700;
        }
        ul{
            padding:20px 0 0 0;
            text-align:left;
        }
        .lev-2 {
            padding:2px 2px 10px 25px;
            a:before {
                content: ">  ";
                text-indent: -18px;
            }
            a{
                font-size: 1em;
                font-weight: 400; 
                display: block;
                line-height: 1.5em;  
                text-indent: -18px;
                white-space: pre-wrap;
            }
        }
    }
}

.preload-container{
    width:300px;
    height:150px;
    position:relative;
    top:50%;
    left:50%;
    margin:-75px 0 0 -150px;
    opacity: 0;
}

.preload-item{
    width:60px;
    height:60px;
    background:white;
    margin:5px;
    display:inline-block;
}

.perspective-bottom{
    // transform: rotate(30deg) scale(0.7) skew(-55deg) translate(0px,0px);
    // transform: rotate(25deg) scale(0.7) skew(-50deg) translate(0px,0px);
    transform: rotate(0deg) scale(0.7) skew(0deg) translate(0px,0px);
    width:60%; //53%;
    height:35%; //53%;
    border: solid 0px white;
    position: absolute;
    bottom: -150%; //-5%;
    right: -175%; //8%;
    border-radius:50%;

    &.inactive{
        transition: background-color 0.8s ease;
        background:$black-light;
    }

    &.active{
        transition: background-color 0.2s ease;
        background:$base-orange;
    }
}

.gallery-btn{
    
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

a.gallery_navigate{
    font-size:4em;
    color:white;
    font-weight:$bold;
    height: 80px;
    width: 80px;
    // z-index:2;
    text-decoration:none;
    &:hover{
        text-decoration:none;
    }
    opacity:0;
}

.gallery-next{
    position:fixed;
    right:0px;
    top:50%;  
    z-index:9999;  
}

.gallery-previous{
    position:fixed;
    left:0px;
    top:50%;
    z-index:9999;  
}

.add-opacity{
    opacity:1.0 !important;
    transition:opacity 1s;
}

.gallery-transition{
    width:200px;
    height:200px;
    background:$base-white-medium;
    position:absolute;
    top:50%;
    left:50%;
    margin: -50px 0 0 -100px;
    z-index:70;
    opacity: 0;
    border-radius:50%;

    div.tmp-warn{
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        margin: 100px 0 0 -120px;
        background: transparent;
    }
}

.gallery-bottom-transition{
    position:absolute;
    width:100vw;
    background:black;
    height:0vh;
    bottom:0px;
    z-index:48;
    left:0px;
    opacity: 0;
}

.claim-wrapper{
    z-index: 48;
    position: absolute;
    bottom: 28%;
    bottom: 48%;
    font-size: 1.6em;
    color: lightgrey;
    left: 50%;
    margin-left: -550px;
    margin-left: -480px;

    font-size: 1.6em;
    color: lightgrey;

    h2{
        font-weight: 700;
        color: lightgrey;
        letter-spacing: -0.06em;
        line-height:0em;
    }

    .claim-item-1 h2{
        position: absolute;
        // font-size: 4em;
        // left:10px;
        font-size: 2.5em;
        left: 80px;
        top: 30px;
    }

    .claim-item-2 h2{
        position: absolute;
        font-size: 3em;
        // left:215px;
        right:22%;
        top: 30px;
    }

    .claim-item-3 h2{
        position: absolute;
        font-size: 6em;
        left:0px;
        top: 115px;
    }

    .sub-claim{
        position: relative;
        top: 190px;
        width: 400px;
        // left: 180px;
        left: 25px;
        left: -80px;
        p{
            font-size:0.9em;
            font-weight:300;
        }
    }
}

// Footer
footer {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

 
}