// scss file for component based styles
html,
body {
    margin: 0;
    height: 100vh;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
}

header{
    height:auto;
    width:100%;
    box-sizing: border-box;
    height:0px;
    position:fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;

    .header-item{
        // width: 150px; 
    }

    .logo{
        margin:60px 0 0 60px;
        width:60px;
        height: 300px;
        background:url('../static/img/logo.png') no-repeat;
        background-size: 100%;
        img{
            width:100%;
        }
        opacity:0;
    }

    button.burger-nav-btn{
        background:lightgrey;
        border-radius:50%;
        padding:10px;
        height:60px;
        width:60px;
        border:none;
        float: right;
        margin:60px 60px 0 0;
        overflow: hidden;
        cursor: pointer;

        .material-icons{
            font-size:3em;
            font-weight:700;
            vertical-align: -5px;
            margin:0px 0 10px 0;
            position: relative;
            top: -50px;
        }
        //opacity:0;
    }
}

main{
    flex-grow: 1;
}

canvas{
    position:absolute;
    z-index:49;
    background:transparent;
}

.view-wrapper{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background:white;  

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &.preload{
        background: /*$black-medium;*/ $base-orange;
        z-index: 50;
        overflow: hidden;
    }
}

#article-1{
    overflow:hidden;
}

.content{
    padding:10px;
}

nav.view-wrapper{

    background:lightgrey;
    z-index: 51;
    border-radius:50%;
    height:60px;
    width:60px;
    right:60px;
    top: 60px;
    overflow: hidden;
    align-items:flex-start;

    a:hover{
        text-decoration: none;
        // padding-left: 10px; 
        // transition: padding-left 0.5s linear 0s;
    }
   

    ul{
        text-align: center;
        &.nav-wrapper{
            padding:60px 130px 10px 130px;
        }
        list-style-type: none;
    }

    li.nav-animation{
        transition: opacity 0.8s ease;
        box-sizing: border-box;
        display: none;
        vertical-align: top;
        padding : 15px;
        opacity:0;
        text-align: left;
        max-width:230px;
        &.lev-1 a{
            font-size: 1.6em;
            font-weight: 700;
        }
        ul{
            padding:20px 0 0 0;
            text-align:left;
        }
        .lev-2 {
            padding:2px 2px 10px 25px;
            a:before {
                content: ">  ";
                text-indent: -18px;
            }
            a{
                font-size: 1em;
                font-weight: 400; 
                display: block;
                line-height: 1.5em;  
                text-indent: -18px;
                white-space: pre-wrap;
            }
        }
    }
}

.preload-container{
    width:300px;
    height:150px;
    position:relative;
    top:50%;
    left:50%;
    margin:-75px 0 0 -150px;
    opacity: 0;
}

.preload-item{
    width:60px;
    height:60px;
    background:white;
    margin:5px;
    display:inline-block;
}

.perspective-bottom{
    // transform: rotate(30deg) scale(0.7) skew(-55deg) translate(0px,0px);
    // transform: rotate(25deg) scale(0.7) skew(-50deg) translate(0px,0px);
    transform: rotate(0deg) scale(0.7) skew(0deg) translate(0px,0px);
    width:60%; //53%;
    height:35%; //53%;
    border: solid 0px white;
    position: absolute;
    bottom: -150%; //-5%;
    right: -175%; //8%;
    border-radius:50%;

    &.inactive{
        transition: background-color 0.8s ease;
        background:$black-light;
    }

    &.active{
        transition: background-color 0.2s ease;
        background:$base-orange;
    }
}

.gallery-transition{
    width:200px;
    height:200px;
    background:$base-white-medium;
    position:absolute;
    top:50%;
    left:50%;
    margin: -50px 0 0 -100px;
    z-index:100;
    opacity: 0;
    border-radius:50%;
}

.claim-wrapper{
    z-index: 48;
    position: absolute;
    bottom: 28%;
    bottom: 48%;
    font-size: 1.6em;
    color: lightgrey;
    left: 50%;
    margin-left: -550px;
    margin-left: -480px;

    font-size: 1.6em;
    color: lightgrey;

    h2{
        font-weight: 700;
        color: lightgrey;
        letter-spacing: -0.06em;
        line-height:0em;
    }

    .claim-item-1 h2{
        position: absolute;
        // font-size: 4em;
        // left:10px;
        font-size: 2.5em;
        left: 80px;
        top: 30px;
    }

    .claim-item-2 h2{
        position: absolute;
        font-size: 3em;
        left:215px;
        top: 30px;
    }

    .claim-item-3 h2{
        position: absolute;
        font-size: 6em;
        left:0px;
        top: 115px;
    }

    .sub-claim{
        position: relative;
        top: 190px;
        width: 400px;
        // left: 180px;
        left: 25px;
        left: -80px;
        p{
            font-size:0.9em;
            font-weight:300;
        }
    }
}

// Footer
footer {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

 
}