// scss file for variable initializing

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Base Font
$base-font-family: sans-serif;
$base-font:'Roboto Condensed';
$base-font-weight: $light;
$base-font-size: 18px;
$base-line-height: 30px;

// Base Font
$header-font-family: sans-serif;
$header-font:'Roboto Condensed';
$header-font-weight: $bold;
$header-font-size: 18px;
$header-line-height: 26px;

// Colors
$base-black:#000000;
$black-medium:#373737;
$black-light:#474747; 
$black-super-light:#646464;

$base-brown:#291d1d;
$base-brown_rgba_30:rgba(41, 29, 29, 0.3);
$base-orange: #ff550d;
$gallery-pink: #d26aa2;
$gallery-yellow: #c0c13a;
$gallery-blue: #95b4bf;


$base-white:#ffffff;
$base-white-medium: #d3d3d3;
$input-error: #f55c51;
$input-error-light: rgb(228, 153, 153);

//@extend-elements
%extend_smoothing {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

%transition-fast {
    transition: all 150ms linear;
}

%transition-normal {
    transition: all 300ms linear;
}

%transition-slow {
    transition: all 450ms linear;
}

%transition-super-slow {
    transition: all 1000ms linear;
}